/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .charttitle {
        font-size: 15px; color: white; font-weight: 400; text-align: center; padding-bottom: 5px;
    }
    .scrolldiv {
        display: flex; flex-direction: column-reverse; justify-content: center; padding: 25px;
    }
    .fig {
        position: -webkit-sticky; position: sticky; height: auto; top:50px; width: 100%; margin:0; margin-top: 0; background-color: #222831; display: flex; flex-direction: row; align-items: center; -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); z-index: 5;
        padding-top: 60px; padding-bottom: 60px;
        justify-content: center;
        align-items: center;
        width: 450px;
    }

    div.step.is-active{
        width:400px;
        height: 500px;
    }
    div.scrolldiv {
        padding: 10px;
    }
    .vid {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .charttitle {
        font-size: 15px; color: #eee; font-weight: 400; text-align: center; padding-bottom: 5px;
    }
    .scrolldiv {
        display: flex; flex-direction: row; padding: 25px; width: 100%;
    }
    .fig {
        width: 400px;
		z-index: 5;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .charttitle {
        font-size: 15px; color: #eee; font-weight: 400; text-align: center; padding-bottom: 5px;
    }
    .fig {
        width: 760px;
		z-index: 5;
    }
    .step {
        height: 50px;
    }
    .step.is-active {
        height: 50px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .charttitle {
        font-size: 20px; color: #eee; font-weight: 400; text-align: center; padding-bottom: 5px;
    }
    .fig {
        width: 950px;
		z-index: 5;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .charttitle {
        font-size: 20px; color: #eee; font-weight: 400; text-align: center; padding-bottom: 5px;
    }
    .fig {
        width: 1200px;
		z-index: 5;
    }
}