@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.title {background: red; height:100%;}
	h1 {
		font-size: 30px;
	}
	p {
		font-size: 13px; 
		height:100%;
		padding-top: 45vh;
	}
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
	.title {background: green;}
	p {
		font-size: 15px; 
		height:100%;
		padding-top: 43vh;
	}
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
	.title {
		background-color: blue;
	}
	p {
		font-size: 15px; 
		height:100%;
		padding-top: 43vh;
	}
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
	.title {background-color: orange;}
	p {
		font-size: 16px; 
		height:100%;
		padding-top: 38vh;
	}
  } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
	.title {background-color: pink;}
	p {
		font-size: 18px; 
		height:90%;
		padding-top: 36vh;
	}
  }



body {
    background-color: #222831;
}

nav {
    background-color: #14181E;
}

.navbar-brand {
    color: #B55400;
}

.title {
font-family: 'Montserrat';
font-style: normal;
padding: 6%;
color: #EEE;
animation: fadeInAnimation ease 3s;
animation-iteration-count: 1;
animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
