@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.title {height:100%;}
	h1 {
		font-size: 30px;
	}
	p {
		font-size: 13px; 
		height:100%;
		padding-top: 45vh;
	}
	.chart-scroll {
		height: 645px;
		display: flex;
		flex-direction: column-reverse;
	}
	.text-scroll {
		overflow: scroll;
		overflow-x: hidden; /* Hide horizontal scrollbar */
		background-color: #222831;
	}
	.text {
		padding:2%;
	}
	.part1 {
		height: 645px;
		width: 100%;
	}
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
	.title {height:100%;}
	p {
		font-size: 15px; 
		height:100%;
		padding-top: 43vh;
	}
	.chart-scroll {
		height: 645px;
		display: flex;
		flex-direction: column-reverse;
	}
	.text-scroll {
		overflow: scroll;
		padding: 5%;
		overflow-x: hidden; /* Hide horizontal scrollbar */
		background-color: #222831;
	}
	.text {
		padding:2%;
	}
	.part1 {
		height: 645px;
		width: 100%;
	}
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
	p {
		font-size: 15px; 
		height:100%;
		padding-top: 43vh;
	}
	.chart-scroll {
		display: flex;
		flex-direction: row;
		height: 645px;
	}
	.text-scroll {
		overflow: scroll;
		padding: 5%;
		width: 50%;
		overflow-x: hidden; /* Hide horizontal scrollbar */
		background-color: #222831;
	}
	.text {
		padding:2%;
	}
	.chart {
		width: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		padding-left: 10%;
		padding-right: 10%;
	}
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
	p {
		font-size: 16px; 
		height:100%;
		padding-top: 38vh;
	}
	.chart-scroll {
		display: flex;
		flex-direction: row;
		height: 645px;
	}
	.text-scroll {
		overflow: scroll;
		padding: 5%;
		overflow-x: hidden; /* Hide horizontal scrollbar */
		width: 50%;
	}
	.text {
		padding:2%;
	}
	.chart {
		width: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		padding-left: 10%;
		padding-right: 10%;
	}
	.part1 {
		height: 645px;
		width: 100%;
	}
  } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
	p {
		font-size: 18px; 
		height:90%;
		padding-top: 36vh;
	}
	.chart-scroll {
		display: flex;
		flex-direction: row;
		height: 645px;
	}
	.chart {
		width: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		padding-left: 10%;
		padding-right: 10%;
	}
	.text-scroll {
		overflow: scroll;
		overflow-x: hidden;
		background-color: #222831;
		padding: 5%;
		width: 50%;
	}
	.text {
		padding:2%;
	}
  }



body {
    background-color: #222831;
	overflow-x: hidden;
}

nav {
    background-color: #14181E;
}

.navbar-brand {
    color: #B55400;
}

.title {
font-family: 'Montserrat';
font-style: normal;
padding: 6%;
color: #EEE;
animation: fadeInAnimation ease 3s;
animation-iteration-count: 1;
animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
